:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --color-de-fondo: #F5F5F5;
   --color-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

body {background-color: #050505;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(0,683,312)'%3E%3Cstop offset='0' stop-color='%23050505'/%3E%3Cstop offset='1' stop-color='%23238279'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='370' height='308.3' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.12'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.cabecera {
    display: flex;
    background: #000000;
    justify-content: space-between;
}

.cabecera__nombre {
    color: #fdfdfd;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto Mono';
}

.menu__lista {
    display: flex;
    flex-direction: row;
}

.menu__item {
    color: #fdfdfd;
    padding-right: 2rem;
    text-decoration: underline;
    padding-left: 1rem;
    list-style: none;
    font-family: 'Roboto Mono';
    
}

.menu__item:hover {
    color: aquamarine;
}


.titulo__bio {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono';
    color: #fdfdfd;
    margin-top: 10%;
}

.titulo__sub {
    display: flex;
    justify-content: center;
    color: #e5e5e5;
    margin-top: 2%;
}

.titulo__redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    color: #e5e5e5;
    margin-top: 5%;
}

.titulo__redes_item {
    padding-left: 2rem;
}

.titulo__redes_item:hover {
    text-decoration: underline;
    color: #76d8498e;
}

@keyframes EntrarIzquierda {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0);
    }
}

.sobre {
    width: 100%;
    position: relative;
    animation: EntrarIzquierda .8s ease;
}

.sobre__container {
    background: #fdfdfd;
    height: 300px;
    opacity: 60%;
    padding: 1rem;
    border-radius: 5%;
    margin-top: 10%;
}

.sobre__mi {
    display: flex;
    font-weight: bold;
    font-size: 250%;
    justify-content: left;
    height: 50px;
    padding-left: 2rem;
    font-family: 'Roboto Mono';
}

.sobre__descripcion {
    display: flex;
    font-weight: 400;
    justify-content: end;
    margin: 50px;
    font-size: 110%;
    font-family: 'Roboto Mono';
}

.skills__titulo {
    display: flex;
    justify-content: center;
    font-size: 250%;
    height: 50px;
    color: #fdfdfd;
    font-family: 'Roboto Mono';
    margin-top: 10%;
}

.skills__line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    color: #fdfdfd;
    font-family: 'Roboto Mono';
    text-decoration: underline;
}

.hobbies__titulo {
    display: flex;
    justify-content: center;
    font-size: 250%;
    font-weight: bold;
    color: #fdfdfd;
    font-family: 'Roboto Mono';
    margin-top: 10%;
}

.hobbies__line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    color: #fdfdfd;
    font-family: 'Roboto Mono';
    text-decoration: underline;
}

.estudios__titulo {
    display: flex;
    justify-content: center;
    font-size: 250%;
    font-family: 'Roboto Mono';
    color: #fdfdfd;
    margin-top: 5%;
}

.estudios__cursos {
    display: flex;
    font-family: 'Roboto Mono';
    color: #fdfdfd;
    flex-direction: row;
    padding-left: 2rem;
}

.experiencia__titulo__princ {
    display: flex;
    justify-content: center;
    font-size: 250%;
    font-family: 'Roboto Mono';
    color: #fdfdfd;
    margin-top: 10%;
}

.experiencia__titulo {
    display: flex;
    flex-direction: row;
    color: #fdfdfd;
    justify-content: space-between;
    font-family: 'Roboto Mono';
    padding-left: 5rem;

}

.experiencia__boton--repo:hover {
    color: #000000;
}

.formcontato__titulo {
    display: flex;
    justify-content: center;
    font-size: 250%;
    font-family: 'Roboto Mono';
    color: #fdfdfd;
    margin-top: 10%;
}

.formcontato__subtexto {
    color: #e5e5e5;
    justify-content: center;
    display: flex;
    font-family: 'Roboto Mono';
    margin-bottom: 5%;
}

.formcontato__input {
    display: flex;
    font-size: 24.5px;
    margin-top: 10px;
}

.formcontato__textarea {
    display: flex;
    font-size: 24.5px;
    margin-top: 10px;
}

.formcontato__boton {
    background-color: rgb(118, 191, 233);
    display: flex;
    font-size: 120%;
    margin-top: 10px;
}

.formcontato__boton:hover {
    background-color: rgb(74, 111, 133);
}

.footer {
    display: flex;
    justify-content: center;
    color: #fdfdfd;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-top: 10%;
    margin-bottom: 5%;
}

@media screen and (max-width: 800px){
    .cabecera__nombre{
        display: none;
    }
    .menu__lista{
        display: flex;
        flex-direction: column;
    }
    .menu__item{
        margin-top: 10px;
    }
    .titulo__bio{
        display: flex;
    }
    .sobre__mi{
        display: flex;
        justify-content: center;
        color: #fdfdfd;
        left: auto;
    }
    .sobre__container{
        background: none;
    }
    .sobre__descripcion{
        color: #fdfdfd;
        left: auto;
        justify-content: center;
        width: 95%;
        font-size: small;
    }
    .skills__titulo{
        justify-content: center;
        padding-top: 10rem;
    }
    .skills__line{
        display: flex;
        flex-direction: column;
    }
    .hobbies__titulo{
        display: flex;
        justify-content: center;
        padding-top: 2rem;
    }
    .hobbies__line{
        display: flex;
        flex-direction: column;
    }
    .estudios__titulo{
        display: flex;
        justify-content: center;
        padding-left: 1rem;
    }
    .estudios__cursos{
        display: flex;
        flex-direction: column;
    }
    .experiencia__titulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .formcontato__form{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
}